@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "DisplayPlanets";
}
@model PlanetsRoot

<form action="../SWAPI/GetPlanetById" method="post">
    <select name="id">
        @for (int i = 0; i < Model.results.Count; i++)
        {
            int k = i + 1;
            <option value="@k">@Model.results[i].name</option>
        }
    </select>

    <input type="submit" value="Submit"/>
</form>